.box {
    /*HERE WHERE YOU CAN CHANGE THE BOX SIZE*/
    height: 520px;
    width: 520px;
    background-color: #b0c4de;
    color: #fff;
    padding: 10px;
    border: solid 6px black;
    margin: auto;
}

body{
    background-image: url("blockchain-technologyAS.jpg");
}

.boxBody{
    margin: 0;
    padding: 0;
}

.topnav {
    overflow: hidden;
    background-color: #C0C0C0;
}

.btn{
    styletext-align:right;
    border:none;
}